{% extends "LCVPlaylistBundle::layout.html.twig" %}

{% block lcvplaylist_body %}

       
    <form id="playlist_form" class="edit-form" action="{{ path('lcv_playlist_edit', { 'playlist_id': playlist.id}) }}" method="post" {{ form_enctype(form) }}>

       {{ form_errors(form) }}

       <div class="form-group">
	      {{ form_label(form.title) }}
  		   {{ form_errors(form.title) }}
   		   {{ form_widget(form.title) }}
       </div>
       
       <div class="form-group">
	      {{ form_label(form.category) }}
	      {{ form_errors(form.category) }}
	 	  {{ form_widget(form.category) }}
 	   </div>
 	   
 	   {{ form_widget(form.save) }}	
 	   <a href="{{ path('lcv_playlist_view', { 'playlist_id': playlist.id}) }}" class="btn btn-default">Ecouter</a>
	    
 	   <hr>
 	   
 	   <table id="playlist_table" class="table table-striped sortable">
	 	   <thead>
	 	   		<tr>
	 	   			<th></th>
	 	   			<th>Titre</th>
	 	   			<th>Image</th>
	 	   			<th></th> 
	 	   		</tr>
	 	   </thead>
	 	   
	 	   {% for playlist_audio in form.playlist_audios %}
		 	 	   {% set var = playlist_audio.vars.value %}
		 	 	   <tbody>
			 	   		<tr class="audio_row edit ">
							  <td class="sorter col-md-1">
							  	<div class="hidden order">
				 	   			  {{ form_errors(playlist_audio.sortOrder) }}			      
							 	  {{ form_widget(playlist_audio.sortOrder) }}
							 	 </div>
							  </td>
			 	   			  <th class="col-md-2">
				 	   			  {{ form_errors(playlist_audio.title) }}			      
							 	  {{ form_widget(playlist_audio.title) }}
							  </th>
							  <td class="col-md-2">
				 	   			  {{ form_errors(playlist_audio.image) }}			      
							 	  {{ form_widget(playlist_audio.image) }}
							  </td>
							  <td class="action_buttons col-md-2"></td>
							  <td class="col-md-2" data-toggle="popover"></td>
						 	</th>
			 	   		</tr>
			 	   		
			 	   		<tr class="audio_row view">
			 	   			<td class="sorter col-md-1"></td>
			 	   			<th class="col-md-3">{{playlist_audio.vars.value.title }}</th>		
			 	   							 	
						 	<td class="image_popover col-md-2" image='{% media playlist_audio.vars.value.image, 'medium'%}'>
						 		{{playlist_audio.vars.value.image }}
						 	</td>
						 	<td class="action_buttons col-md-2"></td>
						 	<td class=" col-md-2" data-toggle="popover"></td>
			 	 	    </tr>
			 	 </tbody>
		 	 {% endfor %}
		 	 

	    </table>

		
		
      	{{ form_rest(form) }}
</form>
<script type="text/javascript">

	$( document ).ready(function() {
		
		$('.image_popover').each(function (){
			$(this).popover({
				html:       true,
			    trigger:    'hover',
			    content:    $(this).attr("image")
			})
		})
	});

</script>

{% endblock %}