
{% extends "::layout.html.twig" %}

{% block title %}
{{ parent() }} - Musique
{% endblock %}



{% block body %}
	<div class="container">
	    <div id="header" class="page-header">
	      <h1>Musique</h1>
	      <div id="flash_message">
		     {% for flashMessage in app.session.flashbag.get("success") %}
		            <div id="flash_success" class="alert alert-success">
		                {{ flashMessage }}
		            </div>
		     {% endfor %}
		     {% for flashMessage in app.session.flashbag.get("danger") %}
		     	    <div id="flash_error" class="alert alert-danger">
		                {{ flashMessage }}
		            </div>
		      {% endfor %}
	      </div>
	    </div>
	
		    <div class="row">
		      <div id="menu" class="col-md-2">
		        <ul class="nav nav-pills nav-stacked">
		          <li><a href="{{ path('lcv_playlist_add') }}">Créer une playlist</a></li>
		          <li><a href="{{ path('lcv_playlist_list') }}">Les playlists</a></li>
		          <li><a href="{{ path('lcv_platlist_audio_index') }}">Les morceaux</a></li>
		        </ul>
		      </div>
		      <div id="content" class="col-md-8">
				  {% block lcvplaylist_body %}
				  {% endblock %}
		      </div>
		      <div id="content" class="col-md-2">
				<h4>Dernieres playlists</h4>
		        {{ render(controller("LCVPlaylistBundle:Playlist:menu", {'limit': 5})) }}
		      </div>
		    </div>
	
	</div>
	  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	  <hr>
	
 <!--  End Block Body -->
{% endblock %}
