{% extends "LCVPlatformBundle::layout.html.twig" %}

{% block title %}
  Index - {{ parent() }}
{% endblock %}

{% block lcvplatform_body %}



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
  
  {% for category in listCategories %}
	{% set cat = category %}
    <div class="panel-heading" role="tab" id="{{"heading" ~ cat.id }}">
      <h4 class="panel-title">
      	<div class="row">
      	
        <a class="collapsed col-md-11" role="button" data-toggle="collapse" data-parent="#accordion" href="{{"#collapse" ~ cat.id }}" aria-expanded="false" aria-controls="{{"collapse" ~ cat.id }}">
          {{  cat.name }}                                               
        <a type="button" class="btn btn-primary glyphicon glyphicon-pencil col-md-1" href="{{ path('lcv_platform_add', {'id': cat.id}) }}"> </a>
        </div>
      </h4>
    </div>
    
    <div id="{{"collapse" ~ cat.id }}" class="panel-collapse collapse" role="tabpanel"  aria-labelledby="{{"heading" ~ cat.id }}">
    	
      <div class="panel-body">
          	  <table class="table">
			    <thead>
			      <tr>
			        <th data-sort="string">Titre</th>
			        <th data-sort="string">Auteur</th>
			        <th data-sort="string"> Dernière modification</th>
			        <th data-sort="string"> Date écriture</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for article in listArticles %}
					{%  if article.category == category %} 
			      <tr>
			        <td> <a href="{{ path('lcv_platform_view', {'id': article.id}) }}">{{ article.title }} </a> </td>
			        <td> {{ article.author.username }} </td>
			        <td> {{ article.updatedAt.format('d/m/Y') }} </td>
			        <td> {{ article.date.format('d/m/Y') }} </td>
			      </tr>
			        {% endif %}
			    {% endfor %}
			
			    </tbody>
			  </table>
			  
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  

<style type="text/css">
	   
	    th[data-sort]{
	      cursor:pointer;
	    }
	    tr.awesome{
	      color: red;
	    }
	  </style>
	    <script>
	    $(function(){
	        $("table").stupidtable();
	    });
	  </script>
	  
	  
	  
	{% block lcv_platform_list_articles %}

    {% endblock%} <!--  lcv_platform_list_articles -->
<!--  lcvplatform_body -->
{% endblock %} 