{% extends "LCVPlatformBundle::layout.html.twig" %}

{% block title %}
  Index - {{ parent() }}
{% endblock %}

{% block lcvplatform_body %}


       <form action="{{ path('lcv_platform_index') }}" method="POST" class="form-inline">
    
 	   {{ form_errors(form) }}
		  <div class="form-group">
		  {{ form_label(form.name, "Créer une catégorie")}}
	      {{ form_errors(form.name) }}
	      {{ form_widget(form.name) }}
		  </div>
		  {{ form_widget(form.save,{ 'label': 'Créer' }) }}
		  
	      {{ form_rest(form) }}
  {# Fermeture de la balise <form> du formulaire HTML #}
  
  {{ form_end(form) }}
<hr>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
  
  {% for category in listCategories %}
	{% set cat = category %}
	
    <div class="panel-heading" role="tab" id="{{"heading" ~ cat.id }}">
	      <h4 class="panel-title">
		      	<div class="row">
			      	
			        <a class="collapsed col-md-11" role="button" data-toggle="collapse" data-parent="#accordion" href="{{"#collapse" ~ cat.id }}" aria-expanded="false" aria-controls="{{"collapse" ~ cat.id }}">
			         	 {{  cat.name }}                                               
				        <a type="button" style="color:green" title="ajouter un article" class="glyphicon glyphicon-plus-sign" href="{{ path('lcv_platform_add', {'categoryId': cat.id}) }}"> </a>
							{% if cat.removable %}
								{% if cat.articles is empty %}
								    <a type="button" style="color:red" class="glyphicon glyphicon-minus-sign" href="{{ path('lcv_platform_delete_category', {'id': cat.id}) }}"> </a>
						        {% else %}
						        	<a type="button" style="color:red" class="glyphicon glyphicon-minus-sign" data-toggle="popover" data-placement="left" data-content="Il y a des articles là dedans !" > </a>
								{% endif %}
							{% endif %}
					</a>
			    </div>
	      </h4>
    </div>
    
    <div id="{{"collapse" ~ cat.id }}" class="panel-collapse collapse" role="tabpanel"  aria-labelledby="{{"heading" ~ cat.id }}">
    	
      <div class="panel-body">
          	  <table class="table">
			    <thead>
			      <tr>
			        <th data-sort="string">Titre</th>
			        <th data-sort="string">Auteur</th>
			        <th data-sort="string"> Dernière modification</th>
			        <th data-sort="string"> Date écriture</th>
			        <th data-sort="string"> Vues </th>
			        <th data-sort="string"> Note </th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for article in listArticles %}
					{%  if article.category == category %} 
			      <tr>
			        <td> <a href="{{ path('lcv_platform_view', {'id': article.id}) }}">{{ article.title }} </a> </td>
			        <td> {{ article.author.username }} </td>
			        <td> {{ article.updatedAt.format('d/m/Y') }} </td>
			        <td> {{ article.date.format('d/m/Y') }} </td>
			        <td> {{ article.view }} </td>
			        <td><input type="number" class="rating" min=0 max=5 value={{ article.rate.rate }} step=1 data-size="xxs" ></td>
			      </tr>
			        {% endif %}
			    {% endfor %}

			
			    </tbody>
			  </table>
			  
      </div>
    </div>
    {% endfor %}
  </div>
</div>


  
<style type="text/css">
	   
	    th[data-sort]{
	      cursor:pointer;
	    }
	    tr.awesome{
	      color: red;
	    }
	  </style>
	    <script>
	    $(function(){
	        $("table").stupidtable();
	    });

		$(document).ready(function(){
		    $('[data-toggle="popover"]').popover(); 
		});
		</script>
	  
	{% block lcv_platform_list_articles %}

    {% endblock%} <!--  lcv_platform_list_articles -->
<!--  lcvplatform_body -->
{% endblock %} 